{% extends 'base.html' %}

{% block head %}
    <script type="text/javascript" src="/static/js/jquery-ui.min.js"></script>
	<script type="text/javascript" src="/static/js/slide.js"></script>
{% endblock head %}

{% block center_body %}
{#  Reply comments  #}
<div class="shadow clearfix" id="shadow">
    <div class="close clearfix">
        <div class="model clearfix">
            <div class="site_con">
                    <p class="centerAlign" style="color:yellowgreen;text-align: center;font-size: 18px;">Flea Market Customer Service</p><br /><br />
                    {% if informations1.count == 0 %}
                        <div class="form_group1">
                            <div>
                                <img src="{{ MEDIA_URL }}{{ user_name.ulogo }}" style="width: 30px;height:30px;border-radius: 50%;overflow: hidden;object-fit: cover;" alt="">
                                <h6>Flea Market CS: Welcome to Flea Market, happy to serve you!</h6>
                            </div>
                            <p>{{ nowTime }}</p>
                        </div>
                    {% endif %}
                    {% for information in informations %}
                        {% if information.cusername == username1 %}
                        <div class="form_group1">
                            <div>
                                <img src="{{ MEDIA_URL }}{{ user_name.ulogo }}" style="width: 30px;height:30px;border-radius: 50%;overflow: hidden;object-fit: cover;" alt="">
                                <h6>{{ information.cusername }}: {{ information.ctitle }}, {{ information.ccontent_chart }}</h6>
                            </div>
                            <p>{{ information.date_publish }}</p>
                        </div>
                        {% elif information.cusername1 == username1 and information.cusername == user.uname %}
                            <div class="form_group3">
                                <div>
                                    <img src="{{ MEDIA_URL }}{{ user.ulogo }}" style="width: 30px;height:30px;border-radius: 50%;overflow: hidden;object-fit: cover;" alt="">
                                    <h6>{{ information.ccontent_chart }}: {{ information.cusername }}</h6>
                                </div>
                                <p>{{ information.date_publish }}</p>
                            </div>
                        {% endif %}
                    {% endfor %}
            </div>

        </div>
        <form action="{% url "fm_goods:index" %}" id="formDetil" class="easyui-form" method="POST" >
            {% csrf_token %}
            <input class="nr" type="text" name="title" required="" placeholder="Please enter content...">
            <input class="sub" type="submit" value="Send">
        </form>
    </div>
  </div>

{#  End reply comments  #}
	<div class="navbar_con">
		<div class="navbar">
			<h1 class="fl">All Product Categories</h1>
			<ul class="navlist fl">
				<li><a href="{% url "fm_goods:index" %}">Home</a></li>
				<li class="interval">|</li>
				<li><a href="#">Mobile Flea Market</a></li>
				<li class="interval">|</li>
				<li><a href="#">Lottery</a></li>
			</ul>
		</div>
	</div>

	<div class="center_con clearfix">
		<ul class="subnav fl">
			<li><img src="/static/images/书籍.jpg" alt="Books"><a href="#model01" class="fruit">Books</a></li>
			<li><img src="/static/images/家电.jpg" alt="Electronics"><a href="#model02" class="seafood">Electronics</a></li>
			<li><img src="/static/images/衣物.jpg" alt="Clothing"><a href="#model03" class="meet">Clothing</a></li>
			<li><img src="/static/images/出行.jpg" alt="Transportation"><a href="#model04" class="egg">Transportation</a></li>
			<li><img src="/static/images/乐器.jpg" alt="Instruments"><a href="#model05" class="vegetables">Instruments</a></li>
			<li><img src="/static/images/智能_03.jpg" alt="Smart Devices"><a href="#model06" class="ice">Smart Devices</a></li>
		</ul>
		<div class="slide fl">
			<ul class="slide_pics">
				<li><img src="/static/images/slide07.jpg" alt="slide"></li>
				<li><img src="/static/images/slide05.jpg" alt="slide"></li>
				<li><img src="/static/images/slide06.jpg" alt="slide"></li>
				<li><img src="/static/images/slide01.jpg" alt="slide"></li>
			</ul>
			<div class="prev"></div>
			<div class="next"></div>
			<ul class="points"></ul>
		</div>
		<div class="adv fl">
			<a href="#"><img src="/static/images/adv03.jpg"></a>
			<a href="#"><img src="/static/images/adv05.jpg"></a>
		</div>
	</div>

	<div class="list_model">
		<div class="list_title clearfix">
			<h3 class="fl" id="model01">Books</h3>
			<div class="subtitle fl">
				<span>|</span>
                {% for g in type01 %}
                    <a href="/detail/{{ g.id }}/">{{  g.gtitle|slice:'10' }}</a>
{#                    Create links for top 4 clicked products#}
{#                    Template filter slice, take first N characters of variable, can be used for Chinese #}
                {%  endfor %}
			</div>
			<a href="/list1_1_1/" class="goods_more fr" id="fruit_more">View More ></a>
		</div>

		<div class="goods_con clearfix">
			<div class="goods_banner fl"><img src="/static/images/banner.jpg"></div>
			<ul class="goods_list fl">
                {% for goods in type0 %}
{#                    Display by latest upload #}
                <li>
                    <h4><a href="/detail/{{ goods.id }}/">{{ goods.gtitle }}</a></h4>
                    <a href="/detail/{{ goods.id }}/"><img src="{{ MEDIA_URL }}{{ goods.gpic }}"></a>
                    <div class="prize"> ¥ {{ goods.gprice }} </div>
                </li>
                {% endfor %}
			</ul>
		</div>
	</div>

	<div class="list_model">
		<div class="list_title clearfix">
			<h3 class="fl" id="model02">Electronics</h3>
			<div class="subtitle fl">
				<span>|</span>
                {% for g in type1 %}
                    <a href="/detail/{{ g.id }}/">{{ g.gtitle|slice:'10' }}</a>
                {% endfor %}
			</div>
			<a href="/list2_1_1/" class="goods_more fr">View More ></a>
		</div>

		<div class="goods_con clearfix">
			<div class="goods_banner fl"><img src="/static/images/banner1.jpg"></div>
			<ul class="goods_list fl">
                {% for goods in type11 %}
                <li>
                    <h4><a href="/detail/{{ goods.id }}/">{{ goods.gtitle }}</a></h4>
                    <a href="/detail/{{ goods.id }}/"><img src="{{ MEDIA_URL }}{{ goods.gpic }}"></a>
{#                    Always add "/" before static directory #}
                    <div class="prize"> ¥ {{ goods.gprice }} </div>
                </li>
                {% endfor %}
			</ul>
		</div>
	</div>

	<div class="list_model">
		<div class="list_title clearfix">
			<h3 class="fl" id="model03">Clothing</h3>
			<div class="subtitle fl">
				<span>|</span>
				{% for g in type2 %}
                    <a href="/detail/{{ g.id }}/">{{  g.gtitle|slice:'10' }}</a>
{#                    Create links for top 4 clicked products #}
{#                    Template filter slice, take first N characters of variable, can be used for Chinese #}
                {%  endfor %}
			</div>
			<a href="/list3_1_1/" class="goods_more fr">View More ></a>
		</div>

		<div class="goods_con clearfix">
			<div class="goods_banner fl"><img src="/static/images/banner3.jpg"></div>
			<ul class="goods_list fl">
				{% for goods in type21 %}
                <li>
                    <h4><a href="/detail/{{ goods.id }}/">{{ goods.gtitle }}</a></h4>
                    <a href="/detail/{{ goods.id }}/"><img src="{{ MEDIA_URL }}{{ goods.gpic }}"></a>
{#                    Always add "/" before static directory #}
                    <div class="prize"> ¥ {{ goods.gprice }} </div>
                </li>
                {% endfor %}
			</ul>
		</div>

	</div>

	<div class="list_model">
		<div class="list_title clearfix">
			<h3 class="fl" id="model04">Transportation</h3>
			<div class="subtitle fl">
				<span>|</span>
				{% for g in type3 %}
                    <a href="/detail/{{ g.id }}/">{{  g.gtitle|slice:'10' }}</a>
{#                    Create links for top 4 clicked products #}
{#                    Template filter slice, take first N characters of variable, can be used for Chinese #}
                {%  endfor %}
			</div>
			<a href="/list4_1_1/" class="goods_more fr">View More ></a>
		</div>

		<div class="goods_con clearfix">
			<div class="goods_banner fl"><img src="/static/images/banner5.jpg"></div>
			<ul class="goods_list fl">
				{% for goods in type31 %}
                <li>
                    <h4><a href="/detail/{{ goods.id }}/">{{ goods.gtitle }}</a></h4>
                    <a href="/detail/{{ goods.id }}/"><img src="{{ MEDIA_URL }}{{ goods.gpic }}"></a>
{#                    Always add "/" before static directory #}
                    <div class="prize"> ¥ {{ goods.gprice }} </div>
                </li>
                {% endfor %}
			</ul>
		</div>
	</div>

	<div class="list_model">
		<div class="list_title clearfix">
			<h3 class="fl" id="model05">Instruments</h3>
			<div class="subtitle fl">
				<span>|</span>
				{% for g in type4 %}
                    <a href="/detail/{{ g.id }}/">{{  g.gtitle|slice:'10' }}</a>
{#                    Create links for top 4 clicked products #}
{#                    Template filter slice, take first N characters of variable, can be used for Chinese #}
                {%  endfor %}
			</div>
			<a href="/list5_1_1/" class="goods_more fr">View More ></a>
		</div>

		<div class="goods_con clearfix">
			<div class="goods_banner fl"><img src="/static/images/banner6.jpg"></div>
			<ul class="goods_list fl">
				{% for goods in type41 %}
                <li>
                    <h4><a href="/detail/{{ goods.id }}/">{{ goods.gtitle }}</a></h4>
                    <a href="/detail/{{ goods.id }}/"><img src="{{ MEDIA_URL }}{{ goods.gpic }}"></a>
{#                    Always add "/" before static directory #}
                    <div class="prize"> ¥ {{ goods.gprice }} </div>
                </li>
                {% endfor %}
			</ul>
		</div>
	</div>

	<div class="list_model">
		<div class="list_title clearfix">
			<h3 class="fl" id="model06">Smart Devices</h3>
			<div class="subtitle fl">
				<span>|</span>
				{% for g in type5 %}
                    <a href="/detail/{{ g.id }}/">{{  g.gtitle|slice:'10' }}</a>
{#                    Create links for top 4 clicked products #}
{#                    Template filter slice, take first N characters of variable, can be used for Chinese #}
                {%  endfor %}
			</div>
			<a href="/list6_1_1/" class="goods_more fr">View More ></a>
		</div>

		<div class="goods_con clearfix">
			<div class="goods_banner fl"><img src="/static/images/banner7.jpg"></div>
			<ul class="goods_list fl">
				{% for goods in type51 %}
                <li>
                    <h4><a href="/detail/{{ goods.id }}/">{{ goods.gtitle }}</a></h4>
                    <a href="/detail/{{ goods.id }}/"><img src="{{ MEDIA_URL }}{{ goods.gpic }}"></a>
{#                    Always add "/" before static directory #}
                    <div class="prize"> ¥ {{ goods.gprice }} </div>
                </li>
                {% endfor %}
			</ul>
		</div>
	</div>
<div class="tools">
        <img src="../../static/images/top_tool.jpg" alt="">
    </div>
    <div class="tools_shixian">
        <div>
            <a href="#header_con">
                <button type="submit" name="submit1">
                </button>
            </a>
        </div>
        <div>
            <a href="https://weibo.com/">
                <button type="submit" name="submit2">
                </button>
            </a>
        </div>
        <div>
            <a href="http://t.qq.com/">
                <button type="submit" name="submit3">
                </button>
            </a>
        </div>
        <div>
            <a href="https://wx.qq.com/">
                <button type="submit" name="submit4">
                </button>
            </a>
        </div>
        <div>
            <a href="https://w.qq.com/">
                <img src="../../static/images/qq.jpg" style="width: 40px;height: 40px;overflow: hidden;object-fit: cover;" alt="">
                <button type="submit" name="submit5" class="submit5">
                </button>
            </a>
        </div>
        <div>
            <a href="javascript:void(0)" onclick="quote_comment('${goodsContent}')" class="btn">
                <img src="../../static/images/lianxigefu.jpg" style="width: 40px;height: 40px;overflow: hidden;object-fit: cover;" alt="">
                <button type="submit" name="submit6" class="submit6">
                </button>
            </a>
        </div>
    </div>
	<script type="text/javascript" src="/static/js/slide.js"></script>
    <script type="text/javascript">
        BCSlideshow('focuspic');
        var oFruit = document.getElementById('fruit_more');
        var oShownum = document.getElementById('show_count');

        var hasorder = localStorage.getItem('order_finish');

        if(hasorder)
        {
        oShownum.innerHTML = '2';
        }

        oFruit.onclick = function(){
        window.location.href = 'list.html';
        }
    </script>


<script type="text/javascript">
    let btn = document.getElementsByClassName('btn');
    let shadow = document.getElementById('shadow');
    for (var i = 0, len = btn.length; i < len; i++) {
        btn[i].addEventListener('click', function (e) {
            shadow.className = 'shadow show';
            return false
        }, false);
        shadow.addEventListener('click', function(e) {
          let target = e.target;
          let _class = target.className;
          if(_class.includes('shadow') || _class.includes('close')) {
            shadow.className = 'shadow'
          }
          return false
         }, false);
    }
</script>
{#  Popup notifications  #}
    {% if messages %}
    <script>
        {% for msg in messages %}
            alert('{{ msg.message }}');
        {% endfor %}
    </script>
    {% endif %}
{% endblock center_body %}