{% extends 'base.html' %}

{% block title %}
    About Flea Market
{% endblock %}

{% block content %}
  <div class="row">
    <div class="offset-by-two eight columns">
      <h2>About Flea Market</h2>
      <p>The Flea Market Product Information System is a full-featured Web-based demonstration application
          for the creation and maintenance of an online marketplace where users can buy and sell second-hand items. This
          application is implemented using <a href="https://www.djangoproject.com">Django</a>.</p>
          
      <p>Flea Market allows users to:</p>
      <ul>
        <li>Browse products</li>
        <li>Search for specific items</li>
        <li>Add items to shopping cart</li>
        <li>Complete purchases</li>
        <li>Track order history</li>
        <li>Sell their own items</li>
      </ul>

      <p>To access all features, please <a href="{% url 'fm_user:login' %}">login</a> or
      <a href="{% url 'fm_user:register' %}">register</a> for an account.</p>
    </div>
  </div>
{% endblock %}