{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}
            Flea Market
        {% endblock %}
    </title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{% static 'css/normalize.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/skeleton.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    {% block head %}{% endblock %}
</head>

<body>

<div class="container">
    <div class="status row">
        <div class="offset-by-eight four columns">
            <ul class="inline">
                {% if request.session.user_name|default:'' != '' %}
                    <li><a href="{% url 'fm_user:logout' %}">
                        Log Out, {{ request.session.user_name }}</a></li>
                {% else %}
                    <li><a href="{% url 'fm_user:login' %}">
                        Log In</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
    <header class="row">
        <div class="offset-by-one ten columns">
            <h1 class="logo">Flea Market</h1>
            <h2>Product Information System</h2>
        </div>
    </header>
    <nav>
        <ul>
            {% if request.session.user_name|default:'' != '' %}
                <li><a href="{% url 'fm_goods:index' %}">Home</a></li>
                <li><a href="{% url 'fm_goods:list' 1 1 1 %}">Products</a></li>
                <li><a href="{% url 'fm_user:info' %}">User Center</a></li>
                <li><a href="{% url 'fm_cart:cart' %}">Shopping Cart</a></li>
                <li><a href="{% url 'fm_user:order' 1 %}">Orders</a></li>
                <li><a href="{% url 'about' %}">About</a></li>
            {% else %}
                <li><a href="{% url 'about' %}">About</a></li>
            {% endif %}
        </ul>
    </nav>
    <main>
        {% block content %}
            <div class="row">
                <section class="eight columns">
                    {% block org_content %}
                        This is default content!
                    {% endblock %}
                </section>
                <section class="desktop four columns">
                    {% block create_button %}{% endblock %}
                </section>
            </div>
            <div class="row">
                <div class="twelve columns">
                    {% block content_footer %}{% endblock %}
                </div>
            </div>
        {% endblock %}
    </main>
    {% if is_paginated %}
        <div class="row">
            <div class="twelve columns">
                <ul class="pagination">
                    {% if first_page_url %}
                        <li>
                            <a href="{{ first_page_url }}">
                                First</a>
                        </li>
                    {% endif %}
                    {% if previous_page_url %}
                        <li>
                            <a href="{{ previous_page_url }}">
                                Previous</a>
                        </li>
                    {% endif %}
                    <li>
                        Page {{ page_obj.number }}
                        of {{ paginator.num_pages }}
                    </li>
                    {% if next_page_url %}
                        <li>
                            <a href="{{ next_page_url }}">
                                Next</a>
                        </li>
                    {% endif %}
                    {% if last_page_url %}
                        <li>
                            <a href="{{ last_page_url }}">
                                Last</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    {% endif %}
</div><!-- container -->

<footer>
    <p>
        <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">
            <img alt="Creative Commons License" style="border-width:0"
                 src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png"/>
        </a><br/><span property="dct:title">Flea Market Tutorial Examples and Code</span>
        by
        <a property="cc:attributionName"
           rel="cc:attributionURL">Your Name</a> are licensed under a
        <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike
            4.0 International License</a>.
    </p>
</footer>

</body>
</html>
