{% extends 'base_foot.html' %}

{% block head %}
    <script type="text/javascript" src="{% static 'js/register.js' %}"></script>
    <script type="text/javascript">
    $(function(){

	var error_name = false;
	var error_password = false;
	var error_check_password = false;
	var error_email = false;
	var error_check = false;


	$('#user_name').blur(function() {
		check_user_name();
	});

	$('#pwd').blur(function() {
		check_pwd();
	});

	$('#cpwd').blur(function() {
		check_cpwd();
	});

	$('#email').blur(function() {
		check_email();
	});

	$('#allow').click(function() {
		if($(this).is(':checked'))
		{
			error_check = false;
			$(this).siblings('span').hide();
		}
		else
		{
			error_check = true;
			$(this).siblings('span').html('Please check to agree');
			$(this).siblings('span').show();
		}
	});


	function check_user_name(){
		var len = $('#user_name').val().length;

		if(len<5||len>20)
		{
			$('#user_name').next().html('Enter 5-20 characters for username');
			$('#user_name').next().show();
			error_name = true;

		}
		else
		{
			$.get('{% url "fm_user:register_exist" %}?uname='+$('#user_name').val(),function(data){
                if (data.count >= 1) {
                    $('#user_name').next().html('Username already exists').show();
                    error_name = true;
                }else{
                    $('#user_name').next().hide();
                    error_name = false;
                }
            });
        }
	}

	function check_pwd(){
		var len = $('#pwd').val().length;
		if(len<4||len>20)
		{
			$('#pwd').next().html('Password must be 4-20 characters');
			$('#pwd').next().show();
			error_password = true;
		}
		else
		{
			$('#pwd').next().hide();
			error_password = false;
		}
	}


	function check_cpwd(){
		var pass = $('#pwd').val();
		var cpass = $('#cpwd').val();

		if(pass!=cpass)
		{
			$('#cpwd').next().html('Passwords do not match');
			$('#cpwd').next().show();
			error_check_password = true;
		}
		else
		{
			$('#cpwd').next().hide();
			error_check_password = false;
		}

	}

	function check_email(){
		var re = /^[a-z0-9][\w\.\-]*@[a-z0-9\-]+(\.[a-z]{2,5}){1,2}$/;
		if(!re.test($('#email').val()))
		{
		    $('#email').next().html('Invalid email format');
			$('#email').next().show();
			error_email = true;
		}
		else
		{
			$.get('{% url "fm_user:register_exist" %}?uemail='+$('#email').val(),function(data){
                if (data.email_count >= 1) {
                    $('#email').next().html('Email already exists').show();
                    error_email = true;
                }else{
                    $('#email').next().hide();
                    error_email = false;
                }
            });
		}

	}


	$('#reg_form').submit(function() {
		check_user_name();
		check_pwd();
		check_cpwd();
		check_email();

		if(error_name == false && error_password == false && error_check_password == false && error_email == false && error_check == false)
		{
			return true;
		}
		else
		{
			return false;
		}

	});
});
    </script>
{% endblock head %}

{% block body %}
{#  Flea Market Agreement  #}
<div class="shadow clearfix" id="shadow">
    <div class="close clearfix">
        <div class="model clearfix">
            <div class="site_con">
                <p class="centerAlign" style="color:yellowgreen;text-align: center;font-size: 18px;">Flea Market Terms of Use</p><br /><br />

                    <tr>
                        <td style="border: none; padding-left: 0;">
                            I. Seller Rights

                                1. Sellers may bring their own items to activities organized by the platform;

                                2. Sellers may reasonably request assistance from the platform for on-site implementation.
                        </td><br /><br />
                        <td style="border: none; padding-left: 0;">
                            II. Seller Obligations

                                1. Items provided by sellers must meet quality standards: food and beverages must be within
                                   expiration dates, electronic items must have proper warranties, etc. Any products found to
                                   violate these standards will result in immediate disqualification. Issues regarding quality,
                                   safety, or warranty after sale are the sole responsibility of the seller;

                                2. Actively cooperate with platform activities to ensure normal operations;

                                3. Sellers must set reasonable prices for their items;
                        </td><br /><br />
                        <td style="border: none; padding-left: 0;">
                            III. Platform Rights
                                1. The platform has full interpretive and organizational authority over activities;
                                2. The platform may disqualify any seller who violates activity rules.
                        </td><br /><br />
                        <td style="border: none; padding-left: 0;">
                            IV. Platform Obligations
                                1. The platform is obligated to promote activities;
                                2. The platform should prepare the venue, schedule, and ensure fair operations;
                                3. If a platform participant withdraws, venue fees will not be refunded;
                                4. Areas belonging to the platform must be cleaned by platform staff, not the sellers;
                                5. Tables, tents, and other equipment assigned to a platform participant must be properly
                                   maintained. Damages will be compensated at twice the item's value.
                        </td><br /><br />
                        <td style="border: none; padding-left: 0;">
                            V. Dispute Resolution
                                In case of breach or disputes, both parties should attempt to resolve issues through friendly
                                negotiation to reach a satisfactory solution. If negotiations fail, parties may:
                                1. Modify or amend the agreement
                                2. Terminate the cooperation agreement
                                3. File a complaint with the local People's Court where the platform is registered
                        </td><br /><br />
                    </tr>
            </div>
        </div>
    </div>
</div>

{#  Flea Market Agreement ends here  #}
	<div class="register_con">
		<div class="l_con fl">
			<a class="reg_logo"><img src="{% static 'images/logo_banner2.png' %}" style="width: 300px;height:100px;overflow: hidden;object-fit: cover;"></a>
			<div class="reg_slogan">Small Flea Market, Big Selection</div>
			<div class="reg_banner"><img src="{% static 'images/register_banner.jpg' %}" style="width: 250px;height:330px;overflow: hidden;object-fit: cover;margin-right: 20px;"></div>
		</div>

		<div class="r_con fr">
			<div class="reg_title clearfix">
				<h1>User Registration</h1>
				<a href="{% url "fm_user:login" %}">Login</a>
			</div>
			<div class="reg_form clearfix">
				<form action="{% url "fm_user:register_handle" %}" id='reg_form' method="post">
                    {% csrf_token %}
				<ul>
					<li>
						<label>Username:</label>
						<input type="text" name="user_name" id="user_name">
						<span class="error_tip">Information prompt</span>
					</li>
					<li>
						<label>Password:</label>
						<input type="password" name="pwd" id="pwd">
						<span class="error_tip">Information prompt</span>
					</li>
					<li>
						<label>Confirm Password:</label>
						<input type="password" name="confirm_pwd" id="cpwd">
						<span class="error_tip">Information prompt</span>
					</li>
					<li>
						<label>Email:</label>
						<input type="text" name="email" id="email">
						<span class="error_tip">Information prompt</span>
					</li>
					<li class="agreement">
						<input type="checkbox" name="allow" id="allow" checked="checked">
						<label>I agree to the <a href="javascript:void(0)" class="btn">《Flea Market Terms of Use》</a></label>
						<span class="error_tip2">Information prompt</span>
					</li>
					<li class="reg_sub">
						<input type="submit" value="Register">
					</li>
				</ul>				
				</form>
			</div>

		</div>

	</div>
<script type="text/javascript">
    let btn = document.getElementsByClassName('btn');
    let shadow = document.getElementById('shadow');
    for (var i = 0, len = btn.length; i < len; i++) {
        btn[i].addEventListener('click', function (e) {
            shadow.className = 'shadow show';
            return false
        }, false);
        shadow.addEventListener('click', function(e) {
          let target = e.target;
          let _class = target.className;
          if(_class.includes('shadow') || _class.includes('close')) {
            shadow.className = 'shadow'
          }
          return false
         }, false);
    }
</script>
{% endblock body %}