{% extends 'base.html' %}

{% block content %}
    <article>
        <div class="row">
            <div class="offset-by-two eight columns">
                <h2>User Profile</h2>
                <section>
                    <table>
                        <tr>
                            <th>Username:</th>
                            <td>{{ user.uname }}</td>
                        </tr>
                        <tr>
                            <th>Email:</th>
                            <td>{{ user.uemail }}</td>
                        </tr>
                    </table>
                </section>

                <section>
                    <h3>Available Actions</h3>
                    <ul>
                        <li><a href="{% url 'fm_user:site' %}" class="button button-primary">Update Shipping Address</a></li>
                        <li><a href="{% url 'fm_user:order' 1 %}" class="button button-primary">View Orders</a></li>
                    </ul>
                </section>
            </div>
        </div>
    </article>
{% endblock %}